.cm_blue {
  background-color: #1971c2;
  color: #fff;
}

.td_blue {
  background-color: #2a8be4;
  color: #fff;
}

.tp_blue {
  background-color: #58a4e9;
  color: #000;
}

.roje_blue {
  background-color: #85bcef;
  color: #000;
}

.carre_blue {
  background-color: #1971c2;
}

.cm_indigo {
  background-color: #6741d9;
  color: #fff;
}

.td_indigo {
  background-color: #896ce2;
  color: #000;
}

.tp_indigo {
  background-color: #ab96ea;
  color: #000;
}

.roje_indigo {
  background-color: #cdc1f3;
  color: #000;
}

.carre_indigo {
  background-color: #6741d9;
}

.cm_purple {
  background-color: #9c36b5;
  color: #fff;
}

.td_purple {
  background-color: #b452cc;
  color: #fff;
}

.tp_purple {
  background-color: #c57ad7;
  color: #000;
}

.roje_purple {
  background-color: #d6a1e3;
  color: #000;
}

.carre_purple {
  background-color: #9c36b5;
}

.cm_pink {
  background-color: #c2255c;
  color: #fff;
}

.td_pink {
  background-color: #da4076;
  color: #fff;
}

.tp_pink {
  background-color: #e36a94;
  color: #000;
}

.roje_pink {
  background-color: #eb95b3;
  color: #000;
}

.carre_pink {
  background-color: #c2255c;
}

.cm_red {
  background-color: #e03131;
  color: #fff;
}

.td_red {
  background-color: #e75d5d;
  color: #000;
}

.tp_red {
  background-color: #ed8a8a;
  color: #000;
}

.roje_red {
  background-color: #f4b6b6;
  color: #000;
}

.carre_red {
  background-color: #e03131;
}

.cm_orange {
  background-color: #e8590c;
  color: #fff;
}

.td_orange {
  background-color: #f47633;
  color: #fff;
}

.tp_orange {
  background-color: #f79763;
  color: #000;
}

.roje_orange {
  background-color: #f9b794;
  color: #000;
}

.carre_orange {
  background-color: #e8590c;
}

.cm_yellow {
  background-color: #f08c00;
  color: #fff;
}

.td_yellow {
  background-color: #ffa424;
  color: #fff;
}

.tp_yellow {
  background-color: #ffb957;
  color: #000;
}

.roje_yellow {
  background-color: #ffce8a;
  color: #000;
}

.carre_yellow {
  background-color: #f08c00;
}

.cm_green {
  background-color: #2f9e44;
  color: #fff;
}

.td_green {
  background-color: #3bc555;
  color: #fff;
}

.tp_green {
  background-color: #63d077;
  color: #000;
}

.roje_green {
  background-color: #8adc99;
  color: #000;
}

.carre_green {
  background-color: #2f9e44;
}

.cm_teal {
  background-color: #099268;
  color: #fff;
}

.td_teal {
  background-color: #0cc28a;
  color: #fff;
}

.tp_teal {
  background-color: #11f0ac;
  color: #fff;
}

.roje_teal {
  background-color: #41f3bd;
  color: #000;
}

.carre_teal {
  background-color: #099268;
}

.cm_cyan {
  background-color: #0c8599;
  color: #fff;
}

.td_cyan {
  background-color: #10aec8;
  color: #fff;
}

.tp_cyan {
  background-color: #1ed0ed;
  color: #fff;
}

.roje_cyan {
  background-color: #4ddaf1;
  color: #000;
}

.carre_cyan {
  background-color: #0c8599;
}

.cm_lime {
  background-color: #66a80f;
  color: #fff;
}

.td_lime {
  background-color: #82d713;
  color: #fff;
}

.tp_lime {
  background-color: #9bed30;
  color: #fff;
}

.roje_lime {
  background-color: #b2f15f;
  color: #000;
}

.carre_lime {
  background-color: #66a80f;
}

/*# sourceMappingURL=color.css.map */
